{{ define "main" }}
{{ $days := daysBetween .Finish .Start }}
<h1>
  <a href="{{ "/" | baseUrl }}">Goodreads timeline</a>
  for user ID
  <a href="{{ .UserLink }}">{{ .UserInfo.ID }}</a>
</h1>

<p id="user-info">
  <img src="{{ .UserInfo.SmallImageURL }}">
  <span id="user-name">
    <a href="{{ .UserLink }}">{{ .UserInfo.Name }}</a>
  </span>
  has read {{ .ReviewLength | thousands }} books over {{ $days | thousands }}
  days from {{ .Start | isoDate }} to {{ .Finish | isoDate }}. (That’s
  around {{ perWeek .ReviewLength $days | printf "%01.2f" }} books per
  week.) There are <a href="#charts">charts</a> and
  <a href="#calendars">calendars</a> available of their reading history.
</p>

<p>
  They might have read more or less than this — all this shows is what
  they’ve entered into
  <a href="https://www.goodreads.com/">Goodreads</a>.
</p>

<div id="charts">
  <h2></h2>
  <div id="chart"></div>
</div>

<h2 id="calendars">Monthly reading calendars</h2>
{{ range $i, $weeks := .Calendar }}
{{ $first := $.StartByMonth.AddDate 0 $i 0 }}
{{ $calendarId := $first.Format "2006-01" | printf "calendar-%s" }}
<table class="calendar" id="{{ $calendarId }}">
  <caption>
    <h3>
      <a href="#{{ $calendarId }}">{{ $first.Format "January 2006" }}</a>
      ({{ countReviews $weeks $.ReviewsMap}})
    </h3>
  </caption>
  <thead>
    <tr>
      <td>S</td>
      <td>M</td>
      <td>T</td>
      <td>W</td>
      <td>T</td>
      <td>F</td>
      <td>S</td>
    </tr>
  </thead>
  <tbody>
    {{ range $j, $week := $weeks }}
    <tr id="{{ $calendarId }}-week-{{ $j | inc }}">
      {{ range $day := $week }}
      <td>
        {{ if not $day.IsZero }}
        <div class="date" data-date="{{ $day | isoDate }}">
          {{ $day.Day }}
        </div>
        <div class="reviews">
          {{ $reviews := index $.ReviewsMap ($day | isoDate) }}
          {{ range $review := $reviews }}
          <a href="{{ $review.Book.Link }}"
             data-date="{{ $review.ReadAt }}"
             data-title="{{ $review.Book.TitleWithoutSeries }}"
             data-author="{{ (index $review.Book.Authors 0).Name }}"
             data-pages="{{ $review.Book.NumPages }}"
             data-rating="{{ $review.Rating }}"
             data-average="{{ $review.Book.AverageRating }}"
             data-ratings="{{ $review.Book.RatingsCount }}"
             data-published="{{ $review.Book.PublicationYear }}"
             >
            <img width="30"
                 height="45"
                 alt="{{ $review.Book.TitleWithoutSeries }}"
                 src="{{ $review.Book.SmallImageURL }}"
                 >
          </a>
          {{ end }}
        </div>
        {{ end }}
      </td>
      {{ end }}
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
{{ end }}
