$body-font: "Palatino Linotype", "Palatino", "URW Palladio L", "Book Antiqua", "Baskerville", "Bitstream Charter", "Garamond", "Georgia", serif;

$header-font: "Gill Sans", "Gill Sans MT", "GillSans", "Calibri", "Trebuchet MS", sans-serif;

body, input {
    font-family: $body-font;
    font-size: 105%;
    color: #000;
    background: #fff;
}

body {
    margin: 0em auto;
    padding: 0em 1em;
    max-width: 50em;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    text-align: center;
    clear: both;
}

:link,:link:active,:link:hover, .click {
    color: #0000ff;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}

:link:visited {
    color: #800080;
    background: transparent;
}

img {
    border-style: none;
}

ol li {
    list-style-type: lower-alpha;
}

#chart {
    width: 50em;
    height: 30em;
}

input#go {
    color: #fff;
    background: #22bd0d;
}

p#user-info img {
    float: right;
}

table {
    margin: 0em auto;
    margin-bottom: 2em;
    border-collapse: collapse;
    border-padding: 0em;
}

thead {
    text-align: center;
    font-weight: bold;
}

td {
    border: 1px solid #000;
    vertical-align: top;
    width: 4.2em;
    margin: 0em;
    padding: 0em;
    line-height: 1.2em;

    .date {
        text-align: right;
        padding: 0.2em;
    }

    .reviews {
        min-height: 3em;
        padding: 0em 0.2em;
    }
}

#byline {
    clear: both;
    text-align: right;
    font-size: 75%;
    font-style: italic;
}

@import "qtip";
