body, input {
    font-family: "Palatino Linotype", "Palatino", "URW Palladio L", "Book Antiqua", "Baskerville", "Bitstream Charter", "Garamond", "Georgia", serif;
    font-size: 105%;
    color: #000;
    background: #fff;
}

body {
    margin: 0em auto;
    padding: 0em 1em;
    max-width: 50em;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gill Sans", "Gill Sans MT", "GillSans", "Calibri", "Trebuchet MS", sans-serif;
    text-align: center;
}

:link,:link:active,:link:hover, .click {
    color: #0000ff;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}

:link:visited {
    color: #800080;
    background: transparent;
}

ol li {
    list-style-type: lower-alpha;
}

input#go {
    color: #fff;
    background: #22bd0d;
}

table {
    border-collapse: collapse;
    border-padding: 0em;
}

thead {
    text-align: center;
    font-weight: bold;
}

td {
    border: 1px solid #000;
    vertical-align: top;
    width: 4.2em;
    margin: 0em;
    padding: 0em;
}

td div.date {
    float: right;
    height: 2em;
    padding-right: 0.2em;
}


#byline {
    clear: both;
    text-align: right;
    font-size: 75%;
    font-style: italic;
}
